/* modifier.php*/

body{
	margin-bottom:100px;
}

h1{
	text-align:center;
}

form{
	width:80%;
	margin:auto;
}

form input{
	display:block;
	width:100%;
	margin-bottom:20px;
	height:30px;
	padding:10px;
	margin-top:3px;
}

form textarea{
	padding:10px;
	display:block;	
	width:100%	;
	height:70px;
	margin-bottom:20px;
	margin-top:3px;
}


body{
	padding-bottom:50px;
	padding-top:50px;
}


.large_field{
	height:200px;
}

#modif_submit{
	width:300px;
	height:50px;
	
	margin:auto;
	font-weight: 900;

}

.modif_action{
	text-decoration:none;
	color:black;
	font-weight: 900;
	margin:30px;	
	background-color:#ef6969;
	padding:20px;
	border-radius:5px;
}

.to_center{
	
	width:50%;
	margin:auto;
	margin-top:25px;
	margin-bottom:100px;
}

.to_left{
	float:left;
}

.to_right{
	float:right;
}












